@model AdminViewModel
@{
   ViewData["Title"] = "Informations";
}

<div style="padding:50px;">
    <h1>Admins - @Model.Admins.Count</h1>
    <h1>Users - @Model.Users.Count </h1>
    <h1>Blogs - @Model.Blogs.Count </h1>
    <h1>Products - @Model.Products.Count</h1>
    <h1>Categories - @Model.Categories.Count</h1>
</div>